* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --color-fifth: #585858;
  --color-bg-second: #FFFFFF;
  --color-third: #333333;
  --color-bg: #F2F2F2;
  --color-highlight: #F8475F;
  --color-second: #D7182A;
  --color-sixth: #BDBDBD;
  --color-first: #004B88;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray-500: #F2F2F2;
  --color-gray-400: #E6E8EA;
  --color-gray-300: #7A7A7A;
  --color-gray-200: #BFBFBF;
  --color-gray-100: #C0C0C0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-second);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  bottom: 37px !important;

  .swiper-pagination-bullet {
    background-color: var(--color-sixth);
    opacity: 1;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-highlight);
  }
}

.shelf {
  .swiper-pagination {
    @media(min-width: 769px) { 
      display: none;
    }

    bottom: 0 !important;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      font-size: 22px;
      font-weight: 700;
      color: #000000;
    }
  }

  @media(max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none; 
    }
  }

}

.Toastify {
  .Toastify__progress-bar {
    height: 3px;
    background: var(--color-highlight);
  }
}